@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: "Segoe UI", "Inter", "Helvetica Neue", Arial, sans-serif;
}

img {
  @apply max-w-full block;
}
